*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}
 .navbar {

    position: fixed;
    width: 100%;

}

 .navbar ul{

    list-style: none;
    background: black;
    overflow: hidden;
    color:white;
    padding:0;
    text-align: center;
    margin: 0;
    transition: 1s;

}

.navbar ul li{
    display:inline-block;
    padding: 20px;
}

.navbar ul li a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 2px;

}

.navbar-link:hover,
.navbar-link:active {
  color: green;
}
.nav:hover,
.nav:active{
    color:red;
}

.navb:hover,
.navb:active{
    color:orange;
}

.navbar-lin:hover,
.navb:active{

    color: blue;
}

.navbar-l:hover,
.navb:active{
    color: green;
}
.vl {
    border-left: 2px solid green;
    height: 25px;
    position: absolute;
    left: 36.7%;
    margin-left: -3px;
   top:16px;
  }

  .fl{
    border-left: 2px solid red;
    height: 25px;
    position: absolute;
    left: 44.7%;
    margin-left: -3px;
   top:16px;

  }

  .kl{
    border-left: 2px solid orange;
    height: 25px;
    position: absolute;
    left: 52%;
    margin-left: -3px;
   top:16px;

  }

  .tl{
     
    border-left: 2px solid blue;
    height: 25px;
    position: absolute;
    left: 59.1%;
    margin-left: -3px;
   top:16px;

  }
